.ui.borderless.menu {
  background-color: #0071DC;
  border: none;
  box-shadow: none;
}
.ui.borderless.sec.menu {
  background-color: #004F9A;
  border: none;
  box-shadow: none;
  margin-top: 0px;
}
.text {
  color: white;
  font-family: 'Arial';

}